.resume {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  padding-left: 5rem;
  padding-top: 0rem;
  margin: 5rem 8rem;
  border-radius: 50px;
  background-color: #fff;
}
.resume__education{
    grid-row: 2;
    display: flex;
}
.resume__information {
  grid-row: 2;
  display: flex;
}
.column {
    flex: 100%;
    float: right;
    text-align: left;
    padding-left: 9rem;
  }
  .column1 {
    flex: 100%;
    float: right;
    text-align: left;
    padding-left: 9rem;
  }
.resume__experience {
    grid-row: 2;
    display: flex;
}
.header{
    padding-left: 9rem;
    
}